<div class="jumbotron text-center" id="dashboard-component">
    <div>
      <h2 class="display-4">
        <strong>Buhlakify</strong>
    </h2>
      <p class="lead">
        <strong>Buhlakify Expense Management</strong>
      </p>
    </div>

    <br> <br>
    
    <button type="button" class="btn btn-lg btn-primary col-md-6" id="newreimbbutton" placeholder>New Reimbursement Request</button>
    <button type="button" class="btn btn-lg btn-primary col-md-6" id="viewreimbbutton">View Reimbursements</button>
  
    <br> <br>
    <div class="alert alert-danger" id="login-message col-md-6"></div>
  
</div>