<div class="jumbotron text-center" id="home-component">
    <div>
      <h2 class="display-4">
        <strong>Buhlakify</strong>
    </h2>
      <p class="lead">
        <strong>Buhlakify Expense Management</strong>
      </p>
    </div>

    <br> <br>
    
    <button type="button" class="btn btn-lg btn-primary col-md-4" id="home-login">Login</button>
    <br>
    <button type="button" class="btn btn-lg btn-primary col-md-4" id="home-register">Register</button>
  
</div>

<br> <br>
    <div class="alert alert-danger" id="login-message col-md-6"></div>