<div class="jumbotron text-center" id="new-component">
    <div>
      <h3 class="display-5">
          <strong>New Reimbursement Request</strong>
      </h3>
      <br>
      <br>
    </div>
    <div class="container">
        <div>
            <label for="reimbId">Id</label>
            <p id="reimbId"></p>
        </div>
        <div>
            <label for="reimbAuthor">Author Id</label>
            <p id="reimbAuthor"></p>
        </div>
        <div>
            <label for="reimbamount">Amount</label>
            <p id="reimbamount"></p>
        </div>
        <div>
            <label for="reimbdate">Expense Date</label>
            <p id="reimbdate"></p>
        </div>
        <div>
            <label for="reimbsubmitted">Submitted</label>
            <p id="reimbsubmitted"></p>
        </div>
        <div>
            <label for="reimbdescription">Description</label>
            <p id="reimbdescription"></p>
        </div>
        <div>
            <label for="reimbreceipt">Receipt</label>
            <p id="reimbreceipt"></p>
        </div>
        <div>
            <label for="reimbstatus">Status</label>
            <select name="status" id="reimbstatus">
                <option value="pending">Pending</option>
                <option value="approved">Approved</option>
                <option value="denied">Denied</option>
            </select>
        </div>
        <div>
            <label for="reimbtype">Reimbursement Type</label>
            <p id="reimbtype"></p>
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-lg btn-secondary" id="udpatereimb">Submit</button>
    </div>
      
</div>