<div class="jumbotron text-center">
    <div>
    <h3 class="display-4">
        <strong>Reimbursements</strong>
    </h3>
    </div>
</div>
<br>
<br>
<div id="table-div" style="width: 90%; margin: auto;">
    <table id="reimbtable" class="table table-secondary table-striped table-bordered table-hover table-sm" >
        <thead class="thead-dark">
            <tr>
                <th scope="col" style="text-align: center; width: 10%;">
                    <h5>ID</h5>
                </th>
                <th scope="col" style="text-align: center; width: 15%;">
                    <h5>Submitted By</h5>
                </th>
                <th scope="col" style="text-align: center; width: 15%;">
                    <h5>Submit Date</h5>
                </th>
                <th scope="col" style="text-align: center; width: 15%;">
                    <h5>Expense Date</h5>
                </th>
                <th scope="col" style="text-align: center; width: 15%;">
                    <h5>Amount</h5>
                </th>
                <th scope="col" style="text-align: center; width: 15%;">
                    <h5>Type</h5>
                </th>
                <th scope="col" style="text-align: center; width: 15%;">
                    <h5>Status</h5>
                </th>
            </tr>
        </thead>
</div>
    