<div>
    <p>Welcome</p>
    <!--this could be useless-->
    <div id='table'></div>
    <h2>Reimbursements</h2>
    <table id = 'Manager' class = 'table table-dark table-hover'>
        <thead>
        <tr class='success'>
            <th scope='col'>ID</th>
            <th scope='col'>Amount</th>
            <th scope='col'>TimeSubmitted</th>
            <th scope='col'>TimeResolved</th>
            <th scope='col'>Receipt</th>
            <th scope='col'>Description</th>
            <th scope='col'>AuthorID</th>
            <th scope='col'>ResolverID</th>
            <th scope='col'>Status</th>
            <th scope='col'>Type</th>
            <th scope='col'>Decision</th>
        </tr>
        </thead>
        <tbody id='reimbData'>
        </tbody>
    </table>
</div>
<button class = 'btn btn-lg btn-primary btn-block' id = 'reloadReimb'>Refresh page</button>


<br><button id = 'logout'>logout</button>


<p id printReimb></p>
</div>
</body>
</html>