<div class="jumbotron text-center" id="policy-component">
    <div>
        <br> <br>
      <h2 class="display-4">
          <strong>Buhlakify Reimbursement Policy</strong>
      </h2>
      <br>
    </div>      
</div>
<br> <br>
<div class="container" >
    <p id="policydiv">
        <ul>
            <li>
                Food request must be less than $500 per request.
                <ul>
                    <li>
                        Must provide a receipt if $100.
                    </li>
                    <li>
                        Daily lunches do not count, unless it is client related.
                    </li>
                </ul>
            </li>
            <br>
            <li>
                Travel or Lodging request must be less than $500 per request.
                <ul>
                    <li>
                        Special cases will be considered if it exceeds standard limit.
                    </li>
                    <li>
                        Receipt must be provided.
                    </li>
                </ul>
            </li>
            <br>
            <li>
                Other requests must provide type in the description. The following are eligible:
                <ul>
                    <li>
                        Supplies
                    </li>
                    <li>
                        Training/development
                    </li>
                </ul>
            </li>
            <br>
            <li>
                <strong>ALL</strong> reimbursement requests must be within 60 days of the expense transaction. 
            </li>
            <br>
            <li>
                <strong>ALL</strong> reimbursement requests must include a description to be considered for approval.
            </li>
            <br>
            <li>
                Any request that fails to comply with rules stated in this policy will be automatically denied.
            </li>
        </ul>
    </p>
</div>