<div class="jumbotron text-center" id="register-component">
    <div>
    <h2 class="display-4">
        <strong>Register</strong>
    </h2>
    <p class="lead">
        <strong>Expense Reimbursement</strong>
    </p>
    </div>
    <form>
    <div class="form-group text-center">
        <label for="username">Username</label>
        <input type="username" class="form-control text-center col-3" id="username" style="margin: auto;" required>
    </div>
    <div class="form-group text-center">
        <label for="password">Password</label>
        <input type="password" class="form-control text-center col-3" id="password" style="margin: auto;" required>
    </div>
    <div class="form-group text-center">
        <label for="firstname">First Name</label>
        <input id="firstname" type="text" class="form-control text-center col-3" style="margin: auto;" required>     
    </div>
    <div class="form-group text-center">
        <label for="lastname">Last Name</label>
        <input id="lastname" type="text" class="form-control text-center col-3" style="margin: auto;" required>
    </div>
    <div class="form-group text-center">
        <label for="email">Email</label>
        <input type="email" class="form-control text-center col-3" id="email" style="margin: auto;" required>
    </div>
    <button type="submit" class="btn btn-lg btn-secondary" id="register">Register</button>
    </form>

</div>
<div class="alert alert-danger col-md-3" id="register-message" style="margin: auto;" hidden>Username is taken!</div>
