<div>
    <div class='nav-area'>
        <nav>
            <div class="nav-logo">LIBERATION</div>
            <ul class="menu-bar">
                <li><a  id="dashboard" class="nav-bar-options" >HOME</a></li>
                <li><a class="nav-bar-options" >TIMESHEET</a></li>
                <li><a  id="new-expense" class="nav-bar-options" >EXPENSE REIMBURSEMENT</a></li>
                <li><a  id="help" class="nav-bar-options" >HELP</a></li>
                <li><a class="nav-bar-options" > PROFILE SETTINGS</a></li>
                <li><a id="logout" class="nav-bar-options" >LOGOUT</a></li>
            </ul>
        </nav>
    </div>
    <div class="content-container">
        <div>
            <h5>ACTION</h5>
            Reimbursement Id:<input id='reimb-id' readonly></input>
            Reimbursement amount:<input id='amount' readonly></input>
            <select id ='newStatus'>
                <option selected value="PENDING">Pending</option>
                <option  value='APPROVED'>Approved</option>
                <option value='DENIED'>Denied</option>
            </select>


            <button class="btn btn-outline-primary" id="reimbSubmit" >Submit</button>
        </div>

        <div>
            <h4>CURRENTLY OPEN REIMBURSEMENT REQUESTS</h4>
        </div>
        <div><p>Please navigate to the REIMBURSEMENT window above to make a new request.</p></div>
        <div class="content">
            <table id="open-reimb" class="content-table">
                <thead>
                <tr>
                    <th scope="col">
                        <h4>REIMBURSEMENT ID</h4>
                    </th>
                    <th scope="col">
                        <h4>TYPE</h4>
                    </th>
                    <th scope="col">
                        <h4>STATUS</h4>
                    </th>
                    <th scope="col">
                        <h4>TOTAL AMOUNT</h4>
                    </th>
                    <th scope="col">
                        <h4>DATE CREATED</h4>
                    </th>
                    <th scope="col">
                        <h4>DESCRIPTION</h4>
                    </th>
                    <th scope="col">
                        <h4>ATTACHED RECEIPT</h4>
                    </th>
                    <th scope="col">
                        <h4>RESOLVER ID</h4>
                    </th>
                    <th scope="col">
                        <h4>DATE RESOLVED</h4>
                    </th>
                    <th scope="col">
                        <h4>AUTHOR</h4>
                    </th>
                    </tr>
                </thead>

                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>