<div class="content-container">
    <h2 class="content-spacer">Welcome New Liberation Employee.</h2>
    <div id="welcome">

        <br>
        <form class="form-group">
            <div>
                <label>First Name:</label>
                <input class="form-control" type="text" id="firstname">
            </div>
            <br>
            <div>
                <label>Last Name:</label>
                <input class="form-control" type="text" id="lastname">
            </div>
            <br>
            <div>
                <label>Email Address:</label>
                <input class="form-control" type="email" id="email">
                <p>email must conform to a valid email format</p>
            </div>
            <br>
            <div>
                <label>Username:</label>
                <input class="form-control" type="username" id="r_username">
            </div>
            <br>
            <div>
                <label>Password:</label>
                <input class="form-control" type="password" id="r_password">
                <p>password must have at least one special character and be 8 or more characters long</p>
            </div>
            <br>
<!--            <div>-->
<!--                <label>Are you an Administrator?:</label>-->
<!--                <br>-->
<!--                <input type="checkbox" id="isAdmin">-->
<!--            </div>-->
        </form>
        <br>
        <div>
            <button id="register-sub" class="btn btn-outline-primary">Submit</button>
        </div>
        <br>
    </div>
</div>
