<h2>login to continue</h2>
<p><img src="https://cdnw.nickpic.host/sUWiFp.jpg" alt="A black and white image of a keyboard." title="Photo (c) Hitarth Jadhav, courtesy of Pexels.com" width="40%"/>
    <div class="form-group w-50">
    <label for="usrnm">USERNAME:</label>
    <input type="text" id="usrnm" placeholder="username" class="form-control"/>
    <label for="pw">PASSWORD:</label>
    <input type="password" id="pw" placeholder="password" class="form-control"/>
    </div>
    <br/>
    <input type="button" id="login" value="LOGIN" class="btn btn-secondary"/>
</div></p>