<style>
    #employees {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    
    #employees td, #employees th {
        border: 1px black;
        padding: 8px;
    }
    
    #employees tr:hover {background-color: gray}
    
    #employees th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: black;
        color: white;
    }
    </style>


<div class = "main-emp">

    <h1>Kannon Employee</h1>
    <div class="form-group">
        <label>Reimbursement Amount</label>
        <br>
        <input type="number" id="reimbamount">
        <br>
    </div>
    <br>
    <div class="form-group">
        <label>Reimbursement Type</label>
        <br>
        <select class="form-control" id="reimbType">
            <option value="1">Other</option>
            <option value="2">Travel</option>
            <option value="3">Lodging</option>
            <option value="4">Food</option>
        </select>

    </div>
    <br>
    <div class="form-group">
        <label>Reimbursement Description</label><br>
        <textarea class="form-control" id="reimbDesc" rows="5"></textarea>
        <br>
    </div>
    <br>
    <div class ="form-group">
        <button class = "btn btn-lg btn-primary btn-block" id = "submitReimb">Submit</button>
    </div>
    <br>
    <div class ="form-group">
        <button class = "btn btn-lg btn-primary btn-block" id = "refreshReimb">Refresh page</button>
    </div>
    <h2>Reimbursements</h2>
    <table id = "employees" class = "table table-dark table-hover">
        <thead>
        <tr>
            <th scope="col">Reimb Id</th>
            <th scope="col">Amount</th>
            <th scope="col">Time Submitted</th>
            <th scope="col">Description</th>
            <th scope="col">Author ID</th>
            <th scope="col">Status</th>
            <th scope="col">Type</th>

        </tr>
        </thead>
        <tbody id='reimInfo'>

        </tbody>
    </table>
    <br><button id = "logout">Log out</button>
    <script>
        

