<style>
#form-login {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 15px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;}
 ;

</style>

<div id ="form-login">

    <h1>Log In</h1>
    <label for="username">Username</label> <br>
    <input type="text" id="username" class="form-control"><br>
    <label type="password">Password</label><br>
    <input type="password" id="password" class="form-control" ><br>
    <br><button id = "loginbtn">Log in</button>
    <p style ="color:rgb(138, 9, 9)" id ="failed-login-message"></p>
    <p>Kannon Reimbursement System</p>

</div>
