<style>
    #employees {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    
    #employees td, #employees th {
        border: 1px solid rgb(85, 82, 82);
        padding: 8px;
    }
    
    #employees tr:hover {background-color: gray;}
    
    #employees th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color:gray;
        color: white;
    }
    
    </style>


<div>

    <h2>Reimbursements</h2>
    <table id = "#employee" class = "table table-dark table-hover">
        <thead>
        <tr class="success">
            <th scope="col">Id</th>
            <th scope="col">Amount</th>
            <th scope="col">Submitted</th>
            <th scope="col">Resolved</th>
            <th scope="col">Description</th>
            <th scope="col">Author</th>
            <th scope="col">Status</th>
            <th scope="col">Type</th>
            <th scope="col">Approve/Deny</th>

        </tr>
        </thead>
        <tbody id='reimInfo'>

        </tbody>
    </table>

    <br><button id = "logout btn">Log out</button>
    <script>
        $(() =>{
            
            loadReimbursements();
            
        })
        function loadReimbursements() {
            
            
            let xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                
                if(xhr.readyState == 4 && xhr.status == 200) {
                    
                    let reimbursements = JSON.parse(xhr.responseText);
    
                    //load al reimbursements

                    
                }
                
            }
            
            xhr.open("GET", "manager", true);
            xhr.send();
            
        }
        
        function refreshStatus() {



            let xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {

                if(xhr.readyState == 4 && xhr.status == 200) {

                    let reimbursements = JSON.parse(xhr.responseText);

                    for(let reims of reimbursements) {


                        reimburseLists(reims);


                    }

                    loadReimbursements();

                }

            }

            xhr.open("GET", "manager", true);
            xhr.send();

        }
        
        function reimburseLists(reims){
            
            let status = "";
            let type = "";
            
            switch(reims.status_id) {
                case 1:
                    status = "Approved";
                    break;
                    
                case 2:
                    status = "Denied";
                    break;
                
                case 3:
                    status = "Pending";
                    break;
                 
                default:
                    break;
            
            }
    
            
            
        }
        
        function updateStatus(reimb_id, status) {
            
            let reimb_stat = {
                    
                id: reimb_id,
                status_id: status
                    
            }
            
            let xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function () {
                
                if(xhr.readyState == 4 && xhr.status == 200) {
                    

                    refreshStatus();
                    
                }
                
            }
            
            xhr.open("PUT", "login", true);
            xhr.setRequestHeader("Content-type", "application/json");
            let toSend = JSON.stringify(stat);
            xhr.send(toSend);
            
        }
    
    
    </script>

</div>
