<style>
    #employee {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    
    #employee td, #employee th {
        border: 1px solid black;
        padding: 8px;
    }
    
    #employee tr:hover {background-color: whitesmoke}
    
    #employee th {
        padding-top: 0px;
        padding-bottom: 0px;
        text-align: left;
        background-color:black;
        color: white;
    }
    
    </style>


<div>

    <h2>Hello manager here are all the employee reimbursements</h2>
    <button class = "btn btn-lg btn-primary btn-block" id = "refreshReimb">Refresh page</button>
    <table id = "employee" class = "table table-dark table-hover">
        <thead>
        <tr>
            <th scope="col">Reimb Id</th>
            <th scope="col">Amount</th>
            <th scope="col">Time Submitted</th>
            <th scope="col">Description</th>
            <th scope="col">Author Id</th>
            <th scope="col">Status</th>
            <th scope="col">Type</th>
            <th scope="col">Approve/Deny</th>

        </tr>
        </thead>
        <tbody id='reimInfo'>

        </tbody>
    </table>

    <br><button id = "logout">Log out</button>

    

  