<style>
#employees {
    font-family:  Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#employees td, #employees th {
    border: 1px solid #ddd;
    padding: 8px;
}

#employees tr:hover {background-color: #4CAF50;}

#employees th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: gray;
    color: white;
}
.button1 {background-color: #008CBA;}
.button2 {background-color: #f44336;}
</style>


<div>

    <h2>Reimbursements</h2>
    <table id = "employees" >
        <thead>
        <tr class="success">
            <th scope="col">Id</th>
            <th scope="col">Amount</th>
            <th scope="col">Submitted</th>
            <th scope="col">Resolved</th>
            <th scope="col">Description</th>
            <th scope="col">Author</th>
            <th scope="col">Status</th>
            <th scope="col">Type</th>
            <th scope="col">Approve/Deny</th>

        </tr>
        </thead>
        <tbody id='reimInfo'>

        </tbody>
    </table>



</div>

