<div>
    <div>
        <h2>
            Reimbursement Request
        </h2>
        <br>
    </div>
    <div>
        <form action="">
            <div>
                <div>
                    Amount $ <input type="text">
                </div>
                <br>
                <label>Reimbursement type</label>
                <select>
                    <option>Lodging</option>
                    <option>Travel</option>
                    <option>Food</option>
                    <option>Other</option>
                </select>
            </div>
            <br>
            <div>
                <span>Description (please include date)</span>
            </div>
            <textarea> </textarea>

        </form>
    </div>
</div>