h4{
    background-color: #000000;
    color: #011c4e;
    border-bottom: 1.5px solid orange;   /* color: whitesmoke;*/
    padding-left:15px;
    padding-bottom: 25PX;
    padding-top: 10px;
    
}
h5{
    background-color: #000000;
    color: #011c4e;
    border-bottom: 1.5px solid orange;   /* color: whitesmoke;*/
    padding-left:15px;
    padding-bottom: 25PX;
    padding-top: 10px;
    
}
#password{
    
    width: 205px;
    box-sizing: border-box;
    /*border: 2px solid #ccc;*/
    
    resize: none;
}
#isAdmin{
    padding-left: 100px;

}

    .login_block{padding-left: 10px;
        padding-right: 10px;
    }

#login{
    border-style: groove;
    background-color:#141414;
    border-color: #1f1e1e;
    border-radius: 5px;
    margin-left: 500px;
    margin-right:500px;
    margin-top: 55px;
    padding-left: 2.5px;
    
}
#validate_login{
  color: white;
    background-color: #011c4e;
    margin-left: 7px;
    margin-top: 25px;
    
}
#validate_admin_access{
    color: white;
    background-color: #011c4e;
    margin-left: 197px;
    margin-top: 25px;
}
body{
    background-color: #0a0b0c;
    color:white ;
    /*  margin: auto;
    background-color: #2a3439;
     margin-top: 70; 
margin-left: 70;
margin-bottom: 70;
margin-right: 70; */
} 
