
nav{padding-top: 10px 20px 10px 10px;
    text-align: right;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    border-bottom:2.5px groove gold;
    background-color:  rgba(145, 155, 141, 0.548);}
a{border-right:10px thin #4169e1;}
div.content-container{
    margin-top:100PX;
    margin-left: 550px;
    margin-right: 400px;
}
*.content-spacer{
    margin-top: 25px;
    width:200px;
}
body{
    
    background-color: ivory;
    color: black;
}
