<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <a class="navbar-brand text-white" >ERS Application</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul id="filter" class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter By</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" href="#">Approved</a>
                    <a class="dropdown-item" href="#">Pending</a>
                    <a class="dropdown-item" href="#">Denied</a>
                </div>
            </li>
            <li class="nav-item">
                <a id="logOut" class="nav-link text-white" href="#">Log Out</a>
            </li>
        </ul>
    </div>
</nav>
<div id="dashboardBody">
<div class="container  pt-4">
    <button id="expenseButton" type="button" name="" class="btn btn-dark btn-lg btn-block">Add a new Expense</button>
    <form id="expenseForm">
        <label for="amount" class="text-white">Amount</label>
        <input type="number" class="form-control" id="amount" placeholder="Ex. 20.00">

        <label class="my-1 mr-2 text-white" for="type">Reimbursement Type</label>
        <select class="custom-select my-1 mr-sm-2" id="type">
            <option value="relocation" selected>Relocation</option>
            <option value="certification">Certification</option>
            <option value="miscellaneous">Miscellaneous</option>
        </select>
        <span class="text-white">Description:</span>
        <textarea  id="desc"></textarea>
        <button type="button" name="" id="expenseSubmit" class="btn btn-primary btn-lg btn-block">Create Expense</button>
    </form>
    <div class="card mt-3">
        <div class="card-header">
            Reimbursement ID: 23049
        </div>
        <div class="card-body">
            <h5 class="card-title">Reimbursement Type: Relocation</h5>
            <p class="card-text">Amount: $250.00</p>
            <hr>
            <p class="card-text">Author: Jim Johnson</p>
            <hr>
            <p class="card-text">Waiting for Darryl Law's approval</p>
            <hr>
            <p class="card-text">Status: <span id="circle"></span></p>
            <hr>
            <a id="approve" href="#" class="btn btn-success">Approve</a>
            <a id="deny" href="#" class="btn btn-danger">Deny</a>
            <a id="info" href="#" class="btn btn-primary" data-toggle="modal" data-target="#modelId">More Info</a>
        </div>
    </div>
</div>
</div>
<!--modal-->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Description</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Body
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
