<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <a class="navbar-brand text-white" >ERS Application</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul id="filter" class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item dropdown">
                <a id="drop" class="nav-link dropdown-toggle text-white" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Showy</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" href="#">Approved</a>
                    <a class="dropdown-item" href="#">Pending</a>
                    <a class="dropdown-item" href="#">Denied</a>
                    <a class="dropdown-item" href="#">All</a>
                </div>
            </li>
            <li class="nav-item">
                <a id="logOut" class="nav-link text-white" href="#">Log Out</a>
            </li>
        </ul>
    </div>
</nav>
<div id="dashboardBody">
<div id="mainContent" class="container  pt-4">
    <button id="expenseButton" type="button" name="" class="btn btn-dark btn-lg btn-block">Add a new Expense</button>
    <form id="expenseForm">
        <label for="amount" class="text-white">Amount</label>
        <input type="number" class="form-control" id="amount" placeholder="Ex. 20.00">

        <label class="my-1 mr-2 text-white" for="type">Reimbursement Type</label>
        <select class="custom-select my-1 mr-sm-2" id="type">
            <option value="0">Certification</option>
            <option value="1" selected>Relocation</option>
            <option value="2">Miscellaneous</option>
        </select>
        <span class="text-white">Description:</span>
        <textarea  id="desc"></textarea>
        <button type="button" name="" id="expenseSubmit" class="btn btn-primary btn-lg btn-block">Create Expense</button>
    </form>

</div>
</div>
