<div id="body">
<form class="login-form">
    <h1>Login</h1>
    <div id="usernameContainer" class="txtb" >
        <input id="username" type="text">
        <span id="user-text" data-placeholder="Username"></span>
    </div>
    <div id="passwordContainer" class="txtb">
        <input id="password" type="password">
        <span data-placeholder="Password"></span>
    </div>

    <input id="login" type="submit" class="logbtn" value="Login">

    <div class="bottom-text">
        Don't have an account? <a href="#">Sign up</a>
    </div>
</form>
</div>
