<div id="warning" class="container text-center mt-3 text-white bg-danger">
    <div>
        <h6>Invalid Credentials</h6>
    </div>
</div>
<form class="login-form">
    <h1>Register</h1>
    <div class="txtb" >
        <input id="firstName" type="text">
        <span id="user-fn" data-placeholder="First Name"></span>
    </div>
    <div class="txtb" >
        <input id="lastName" type="text">
        <span id="user-ln" data-placeholder="Last Name"></span>
    </div>
    <div class="txtb" >
        <input id="username" type="text">
        <span id="user-un" data-placeholder="Username"></span>
    </div>
    <div class="txtb" >
        <input id="email" type="email">
        <span id="user-em" data-placeholder="Email"></span>
    </div>
    <div class="txtb" >
        <input id="password" type="password">
        <span data-placeholder="Password"></span>
    </div>

    <input id="register" type="submit" class="logbtn" value="Register">

    <div class="bottom-text">
        Already have an account? <button id="signIn" >Sign in</button>
    </div>
</form>
