<div>
    <div class='nav-area'>
        <nav>
            <div class="nav-logo">LIBERATION</div>
            <ul class="menu-bar">
                <li><a class="nav-bar-options" href="">HOME</a></li>
                <li><a class="nav-bar-options" href="">TIMESHEET</a></li>
                <li><a class="nav-bar-options" href="">EXPENSE REIMBURSEMENT</a></li>
                <li><a class="nav-bar-options" href="">HELP</a></li>
                <li><a class="nav-bar-options" href=""> PROFILE SETTINGS</a></li>
                <li><a id="logout" class="nav-bar-options" href="">LOGOUT</a></li>
            </ul>
        </nav>
    </div>
    <div class="content-container">
        <h5>Content Coming soon...</h5>
    </div>
</div>