<div>
    <div class='nav-area'>
        <nav>
            <div class="nav-logo">LIBERATION</div>
            <ul class="menu-bar">
                <li><a class="nav-bar-options" href="">HOME</a></li>
                <li><a class="nav-bar-options" href="">TIMESHEET</a></li>
                <li><a class="nav-bar-options" href="">EXPENSE REIMBURSEMENT</a></li>
                <li><a class="nav-bar-options" href="">HELP</a></li>
                <li><a class="nav-bar-options" href=""> PROFILE SETTINGS</a></li>
                <li><a id="logout" class="nav-bar-options" href="">LOGOUT</a></li>
            </ul>
        </nav>
    </div>
    <div class="content-container">
        <div>
            <h4>CURRENTLY OPEN REIMBURSEMENT REQUESTS</h4>
        </div>
        <div class="content">
            <table id="open-reimb" class="content-table">
                <thead>
                <tr>
                    <th scope="col">
                        <h4>REIMBURSEMENT ID</h4>
                    </th>
                    <th scope="col">
                        <h4>TYPE</h4>
                    </th>
                    <th scope="col">
                        <h4>STATUS</h4>
                    </th>
                    <th scope="col">
                        <h4>TOTAL AMOUNT</h4>
                    </th>
                    <th scope="col">
                        <h4>DATE CREATED</h4>
                    </th>
                    <th scope="col">
                        <h4>DESCRIPTION</h4>
                    </th>
                    <th scope="col">
                        <h4>ATTACHED RECEIPT</h4>
                    </th>
                    <th scope="col">
                        <h4>RESOLVER ID</h4>
                    </th>
                    <th scope="col">
                        <h4>AUTHOR</h4>
                    </th>
                    <th scope="col">
                        <h4>ACTION</h4>
                    </th>
                    <th scope="col">

                    </th>
                </tr>
                </thead>
                <div><p>Please navigate to the REIMBURSEMENT window above to make a new request or view old requests</p></div>
                <tbody>
                <tr scope="row">
                    <td>
                        54879
                    </td>
                    <td>
                        Other
                    </td>
                    <td>
                        Pending
                    </td>
                    <td>
                        50 million dollars
                    </td>
                    <td>
                        Da First OF da month
                    </td>
                    <td>
                        All gold everything stuttin on these hoes
                    </td>
                    <td>
                        None
                    </td>
                    <td>
                        None
                    </td>
                    <td>
                        You
                    </td>
                </tr>
                <tr scope="row">
                    <td>
                        14796
                    </td>
                    <td>
                        Food
                    </td>
                    <td>
                        Pending
                    </td>
                    <td>
                        $500
                    </td>
                    <td>
                        8/07/1995
                    </td>
                    <td>
                        took my girl out to get a steak
                    </td>
                    <td>
                        None
                    </td>
                    <td>
                        None
                    </td>
                    <td>
                        You
                    </td>
                    <td>
                        <select>
                            <option selected value="3">Pending</option>
                            <option  value="2">Approved</option>
                            <option value="1">Denied</option>
                        </select>
                    </td>
                    <td>
                        <button class="btn btn-outline-primary" id="reimbSubmit" >Submit</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>