<div class = "content-container" id="login-component" >
    <h2 >Welcome Liberation Employee.</h2>
    <div id="welcome" class="content">

        <br>
        <div>

            <h5 class="content-spacer">Please Enter Your Login Credentials</h5>
            <div>
                <h6 class="content-spacer">Username:</h6>
                <input class=login_block id="username" type="email">
            </div>

            <div>
                <h6 class="content-spacer"><label for="password">Password:</label></h6>
                <input class=login_block id="password" type="text">
            </div>
            <br>
            <div class="alert alert-danger" id="login-message"></div>
            <button class="btn btn-outline-primary" id="login">Login</button>
        </div>
        <div class="content-spacer">
            <a href="">Create an Account</a>
            <br>
            <a href="">Forgotten Password</a>
        </div>
        <br>
    </div>
</div>
