


<div class="container" id="subcontainer">
    <link rel="stylesheet" href="css/admin-dashboard.css">
    <h2>Management Dashboard</h2>
    <hr>
    <h3>Welcome!</h3>

    <div class="form-group text-center">
        <h6 for="choose_id"><span class="label label-default">Choose By ID</span></h6>
        <input type="text" class="form-control" id="choose_id" placeholder="ID">
    </div>

    <div class="form-group text-center">
        <h6 ><span class="label label-default">Type</span></h6>
        <select id="status">
            <option>Processing</option>
            <option>Accepted</option>
            <option>Rejected</option>
        </select>
    </div>

    
    <br>

    <button type="submit" class="btn btn-secondary" id="admin_reimb_submit">Submit</button>
    <br> <br>
    <hr>

    <div class="reimb-table" aria-orientation="horizontal">
        <table id="reimb_table">
            <tr>
                <th>ID</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Type</th>
                <th>Status</th>
                <th>Received</th>
                <th>Completed</th>
            </tr>
        </table>
    </div>
</div>