<title>Dashboard</title>

<link rel="stylesheet" href="css/dashboard.css">

<div class="container" id="login-component">
    <h2>Dashboard</h2>
    <hr>
    <h3>Welcome!</h3>

    <div class="form-group text-center">
        <label for="reimb_amount" class="form-label">Reimbursement Amount</label>
        <input type="number" class="form-control" id="reimb_amount" placeholder="Amount">
    </div>

    <div class="form-group text-center">
        <label for="description" class="form-label">Description</label>
        <input type="text" class="form-control" id="description" placeholder="Description">
    </div>

    <div class="form-group text-center">
        <label for="receipt" class="form-label">Receipt</label>
        <input type="file" class="form-control" id="receipt" placeholder="Receipt">
    </div>

    <div class="form-group text-center">
        <label for="type" class="form-label">Type</label>
        <select id="type">
            <option>Lodging</option>
            <option>Food</option>
            <option>Travel</option>
            <option>Other</option>
        </select>
    </div>

    <br>

    <button type="submit" id="reimb_submit">Submit</button>
    <br> <br>
</div>

<script src="js/basic-dashboard.js"></script>