#block {
    padding: 0 0 0 0;
    background: 
    url(https://images.unsplash.com/photo-1545161296-d9c2c241f2ad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80);
    background-size: cover;
    overflow: hidden;
}

#logout-div, #back-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#block {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vw;
    font-style: oblique;
    color: white;
    height: 100%
}

#login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    min-width: 300px;
}

img {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    max-width: 100%;
    height: auto;
}

#fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background-color:rgb(27, 27, 27);
  }

main {
    height: 100%;
}

#root {
    height: 100%;
}

#login-component, #reimbursement-component, #manage-component{
    height: 100%;
    background-color:rgb(27, 27, 27);
    color:white;
}

#reimbursement-header, #manage-header {
    display: flex;
    justify-content: center;
    align-items: center;
    color:white
}

#login-row {
    height: 100%;
}

#register-component {
    height: 100%;
    width: 120vw;
    background-color:rgb(27, 27, 27);
    color: white;
}

#register-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100vw;
}

#register-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 250px;
}

/*
.register-sidebar {
    background: url(../img/catalina_mountain.jpg);
    background-size: cover;
    overflow: hidden;
}
*/

.delin {
    border-top: 1px solid #007bff;
    min-width:300px;
    max-width:600px;
}

#login, #register, .form-control, #register-message, #login-message {
    min-width:300px;
    max-width:600px;
}



#reimbursement-form-div {
    display:flex;
    justify-content: center;
    align-items: center;
}
    
#reimbursement-form {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    color:white;
}

.reimbursement-form-elt {
    min-width:30vw;
}

#reimbursements {
    max-width: 80vw;
    color: white;
}

#create-reimbursement, #manage-requests {
    min-width:30vw;
}

#reimbursement-table-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.approved {
    color: green !important;
    
}

.denied {
    color: red !important;
}

.pending {
    color:white;
}

#manage {
    color:white;
}

.approve-button {
    background-color: green;
}

.deny-button {
    background-color: red;
}

@media only screen and (max-width: 768px) {
    .register-sidebar {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    #block {
        display: none;
    }
}
