th{
    width: 10rem;    
}

tr{
    width: 10rem;
    word-wrap: break-word;
}


.form-control{
    max-width: 50%;
    position: relative;
    top: 100px;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);    
}

h6{
    position: relative;
    top: 90px;
    left: 28%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

#status{
    position: relative;
    top: 120px;
    left: 28%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

#admin_reimb_submit{
    position: relative;
    margin-top: 6rem;
    margin-left: 28%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

#reimb_table{
    background-color: white;
    position: relative;
    margin-top: 3rem;
    top: 120px;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

