th{
    width: 10rem;    
}

tr{
    width: 10rem;
    word-wrap: break-word;
}

hr{
    margin-top: 5rem;
    margin-bottom: auto;
}

.form-control{
    max-width: 50%;
    position: relative;
    top: 100px;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);    
}

.form-label{
    position: relative;
    top: 100px;
    left: 28%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

#reimb_submit{
    position: relative;
    top: 7rem;
    left: 30%;
    right:70%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

#type{
    position: relative;
    top: 9rem;
    left: 10rem;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

#reimb_table{
    background-color: white;
    position: relative;
    margin-top: 5rem;
    margin-bottom: 3rem;
    top: 120px;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}