    <div>
        <p>manager</p>
    <h2>Reimbursements</h2>
    <table id = "#employee" class = "table table-dark table-hover">
        <thead>
        <tr class="success">
            <th scope="col">Id</th>
            <th scope="col">Amount</th>
            <th scope="col">Submitted</th>
            <th scope="col">Resolved</th>
            <th scope="col">Description</th>
            <th scope="col">Author</th>
            <th scope="col">Status</th>
            <th scope="col">Type</th>
            <th scope="col">Approve/Deny</th>
        </tr>
        </thead>
        <tbody id='reimInfo'>
        </tbody>
    </table>

    <br><button id = "logout btn">Log out</button>

</div>
</body>
</html>




