<div class = "Main-emp">
    <h1>ERS

    </h1>
    <div class="form-group">
        <label for="reim_amount">Reimbursement Amount</label>
        <br>
        <input type="number" id="reimb_amount">
        <br>
    </div>
    <br>
    <div class="form-group">
        <label for="reim_type">Reimbursement Type</label>
        <br>
        <select class="form-control" id="dataType">
            <option value="1">Lodging</option>
            <option value="2">Food</option>
            <option value="3">Travel</option>
            <option value="4">Other</option>
        </select>
    </div>
    <br>
    <div class="form-group">
        <label for="reimb_desc">Reimbursement Description</label><br>
        <textarea class="form-control" id="reimb_desc" rows="5"></textarea>
        <br>
    </div>
    <br>
    <div class ="form-group">
        <button class = "btn btn-lg btn-primary btn-block" id = "submit_reim">Submit</button>
    </div>
    <h2>Reimbursements</h2>
    <table id = "employees" class = "table table-dark table-hover">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Amount</th>
            <th scope="col">Submitted</th>
            <th scope="col">Resolved</th>
            <th scope="col">Description</th>
            <th scope="col">Author</th>
            <th scope="col">Status</th>
            <th scope="col">Type</th>
        </tr>
        </thead>
        <tbody id='reimInfo'>
        </tbody>
    </table>
   <!-- <br><button id = "logout">Log out</button> -->