<div class = "user">
    <h1>ERS

    </h1>
    <div class="form-group">
        <label >Reimbursement Amount</label>
        <br>
        <input type="number" id="reimbamount">
        <br>
    </div>


    <br>
    <div class="form-group">
        <label>Reimbursement Type</label>
        <br>
        <select class="form-control" id="reimbType">
            <option value="1">Lodging</option>
            <option value="2">Travel</option>
            <option value="3">Food</option>
            <option value="4">Other</option>
        </select>
    </div>
    <br>


    <div class="form-group">
        <label>Reimbursement Description</label><br>
        <textarea class="form-control" id="reimbDesc" rows="5"></textarea>
        <br>
    </div>
    <br>
    <div class ="form-group">
        <button class = "btn btn-lg btn-primary btn-block" id = "submitR">Submit</button>
        <button class = "btn btn-lg btn-primary btn-block" id = "refreshReimb">Refresh page</button>


    </div>



    <h2>Reimbursements</h2>
    <table id = "employees" class = "table table-dark table-hover">
        <thead>
            <tr class="success">
                <th scope="col">ID</th>
                <th scope="col">Amount</th>
                <th scope="col">TimeSubmitted</th>
                <th scope="col">Description</th>
                <th scope="col">Receipt</th>
                <th scope="col">Author</th>
                <th scope="col">Resolver</th>
                <th scope="col">Status</th>
                <th scope="col">Type</th>
            </tr>
        </thead>
        <tbody id='reimInfo'>
        </tbody>
    </table>


    <br><button id = "logout">logout</button>

    </div>
