<div class="container" id="register-component">

    <h3>Register Into BenjiMan</h3>

    <div class="form-group">
        <label for="firstname">firstname</label>
        <input type="firstname" class="form-control" id="firstname" placeholder="Firstname">
    </div>

    <div class="form-group">
        <label for="lastname">lastname</label>
        <input type="lastname" class="form-control" id="lastname" placeholder="Lastname">
    </div>

    <div class="form-group">
        <label for="username">Username</label>
        <input type="username" class="form-control" id="username" placeholder="Username">
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password">
    </div>



    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Email">
    </div>

    <button type="submit" class="btn btn-block btn-primary" id="register">Register</button>

    <br> <br>

    <div class="alert alert-danger" id="login-message"></div>

</div>