<div class="container" id="login-component">
    
    <h1 style="color-interpolation-filters: linearRGB;">Hello</h1>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1   style="color: blue;"  style="text-align: center;" class="display-3">Welcome To Reimbursement </h1>
          <p class="lead" id="name" ></p>

          <div  id ="check"></div>
        
          <br/>
               <br/><br/>
               <button type="button"  id= "new1" class="btn btn-primary btn-block">create new Reimbursement</button>
               <br/>
               <button type="button" id="login1" class="btn btn-block btn-secondary" >back to login</button>
        </div>
      

      </div>
 

   
  
  
    

</div>