<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>project1</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>ViewServlet</servlet-name>
        <servlet-class>com.revature.ers.servlets.ViewServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ViewServlet</servlet-name>
        <url-pattern>*.view</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AuthServlet</servlet-name>
        <servlet-class>com.revature.ers.servlets.AuthServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.revature.ers.servlets.RegisterServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/reg</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DashEmpServlet</servlet-name>
        <servlet-class>com.revature.ers.servlets.DashEmpServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DashEmpServlet</servlet-name>
        <url-pattern>/dashemp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DashManServlet</servlet-name>
        <servlet-class>com.revature.ers.servlets.DashManServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DashManServlet</servlet-name>
        <url-pattern>/dashman</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReimbursementServlet</servlet-name>
        <servlet-class>com.revature.ers.servlets.ReimbursementServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ReimbursementServlet</servlet-name>
        <url-pattern>/reimb</url-pattern>
    </servlet-mapping>

</web-app>