<div class="container" id="register-component">

    <h3>Register</h3>

    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username" placeholder="Username">
    </div>

    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" placeholder="Password">
    </div>

    <div class="form-group">
        <label for="firstName">First Name:</label>
        <input type="text" class="form-control" id="firstName" placeholder="FirstName">
    </div>

    <div class="form-group">
        <label for="lastName">Username:</label>
        <input type="text" class="form-control" id="lastName" placeholder="LastName">
    </div>

    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Email">
    </div>

    <button type="submit" class="btn btn-block btn-primary" id="register">Register</button>

    <br/><br/>

    <div class="alert alert-danger" id="register-message"></div>



</div>