/*
        TABLE OF CONTENT:

        LINE 14: MAIN CSS
        LINE 25: HOME CSS
        LINE 72: LOGIN CSS

*/




/*main css */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

/* ers home css */
#body{
    min-height: 100vh;
    background-image: linear-gradient(120deg, #3498db, #4eb1b8);
}

#main {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(120deg, #3498db, #4eb1b8) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#registerBut {
    font-size: 2.3rem;
    font-weight: 300;
    margin-top: 2rem;
    text-decoration: none;
    transition: ease-in .6s;
}

#title {
    font-size: 3.4rem;
}

#loginBut {
    font-size: 2.3rem;
    font-weight: 300;
    margin-top: 1.5rem;
    text-decoration: none;
    transition: ease-in .6s;
}

#registerBut:hover {
    color: lavender !important;
    font-size: 2.8rem;
}

#loginBut:hover{
    color: lavender !important;
    font-size: 2.8rem;
}
