body {
    background-color: slategray;
    color: darkorange;
}

.jumbotron {
    background-color: darkorange;
    color: grey;
    margin: auto;
}

#infodisplay {
    align-content: center;
}

#policydiv {
    margin: auto;
    font-size: 1.15em;
    align-content: center;
}

#table-div {
    padding-bottom: 15%;
}

.container {
    padding-bottom: 15%;
}

