body {
    background-color: slategray;
    color: darkorange;
}

.jumbotron {
    background-color: darkorange;
    color: grey;
}

#infodisplay {
    align-content: center;
}

#policydiv {
    margin: auto;
    font-size: 1.25em;
}


