
<form class="form-signin" id="login-form">
    <div class="form-group">
        <label for="username" class="sr-only">Username</label>
        <input type="text" class="form-control text-center col-3" id="username" placeholder="Username" style="margin: auto;" required>
    </div>
    <div class="form-group text-center">
        <label for="password" class="sr-only">Password</label>
        <input type="password" class="form-control text-center col-3" id="password" placeholder="Password" style="margin: auto;" required>
    </div>
    <div class="checkbox mb-3">
        <label style="margin: auto;">
            <input type="checkbox" value="remember-me">
            Remember me
        </label>
    </div>
    <button type="submit" class="btn btn-lg btn-primary" id="login">Login</button>
</form>
</div>

<br> <br>
<div class="alert alert-danger" id="login-message"></div>

