<p>DASHMAN</p>
<div id='insert'></div>
<div id='reimbursement-div'>
    <div id='table-div'>
        <table id='reimbursements' class='table table-striped'>
            <tr>
                <th>Reimbursement ID</th>
                <th>Amount</th>
                <th>Description</th>
                <th>Time Submitted</th>
                <th>Time Resolved</th>
                <th>Author</th>
                <th>Resolver</th>
                <th>Reciept</th>
                <th>Type</th>
                <th>Status</th>
            </tr>

        </table>
    </div>
</div>