<div id='row' class='row'>
    <div class='col-6'></div>
    <div class='col-1'></div>
    <div class='col-4' id='logout-div'>
        <button id="logout" class="btn btn-primary">Log Out</button>
    </div>
    <div class='col-1'></div>
</div>
<div id='manage-component' class='container-fluid'>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class='row' id='manage-table'>
        <table id='manage' class='table'>
            <tr>
                <th>Ticket ID</th>
                <th>Amount</th>
                <th>Description</th>
                <th>Author ID</th>
                <th>Time Submitted</th>
                <th>Resolver ID</th>
                <th>Time Resolved</th>
                <th>Receipt</th>
                <th>Type</th>
                <th>Status</th>
                <th>Approve</th>
                <th>Deny</th>
            </tr>
        </table>
    </div>
</div>